$body-bgcolor: #ffffff;
$body-fontcolor: #3b3d4f;
$header-bgcolor: #ffffff;

$sidebar-bgcolor: #f5f5f5;
$sidebar-fontcolor: #757575;

$primary-color: #2a3042;
$secondry-color: #1d1d1d;

$button-color: #410f4e;
$button-hover-color: #1d1d1d;

$link-color: #109ccf;
$link-hover-color: #410f4e;

$form-border-color: #d9d9d9;
$form-focusborder-color: #424242;